@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background-color: whitesmoke;
}

 :root {
    /* --main-color-1: gold; */
    --main-color-2: #85bb65;
    --main-color-3: #000000;
    --main-color-4: #228B22;
}


/*****************
**HEADER AND NAV** 
******************/

nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: whitesmoke;
    border-bottom: 5px solid var(--main-color-4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-button {
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 0.8em;
    font-weight: bold;
    color: var(--main-color-4);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border: none;
    background-color: transparent;
    text-shadow: .5px .5px var(--main-color-3);
}

.header-button:hover {
    color: var(--main-color-1);
}

.budget-app-button {
    color: var(--main-color-1);
    text-shadow: .5px .5px var(--main-color-3);
    font-size: 10px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.nav-bank-name {
    color: var(--main-color-4);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
}

.nav-logo {
    height: 100px;
    width: 100px;
}

.user-dashboard-title-div {
    background-color: rgba(133, 187, 101, 0.9);
    margin-top: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-dashboard-title-text {
    font-size: 80px;
    color: var(--main-color-3);
    text-align: center;
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px var(--main-color-4);
    ;
}


/*****************
***USER PROFILE*** 
******************/

.user-profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.user-profile-content {
    height: 350px;
    width: 350px;
    border: 2px solid var(--main-color-3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.user-dashboard-title-div {
    width: 100%;
}

.upc-text-details {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    color: var(--main-color-3);
}

.upc-text-name {
    font-size: 25px;
}

.content {
    margin-left: 250px;
}


/*****************
******HIDE******** 
******************/

.hide {
    display: none;
    visibility: hidden;
}


/****************************
**INCOME AND EXPENSE MODALS** 
*****************************/

.modal-div,
.modal-div-expense {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    margin: 0;
}

.btn-container-income,
.btn-container-expense {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 50vw;
}

.income-add,
.income-submit,
.income-delete,
.expense-add,
.expense-submit,
.expense-delete,
.income-transactions,
.expenses-transactions {
    background-color: var(--main-color-2);
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
    cursor: pointer;
}

.income-delete,
.expense-delete {
    cursor: pointer;
}

.modal-container,
.modal-container-expense {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal,
.modal-expense {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
    text-align: center;
}

.modal h1,
.modal-expense h1 {
    margin: 0;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.close-income,
.close-expense {
    position: absolute;
    right: 300px;
    top: 180px;
    background-color: var(--main-color-2);
    color: white;
    font-weight: 900;
}

.add-income-container,
.add-expense-container {
    margin-left: 10px;
}


/****************************************
**TABLE INCOME AND EXPENSE TRANSACTIONS** 
*****************************************/

.table-section {
    width: 100%
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    border-collapse: collapse;
    width: 95vw;
}

.user-transactions-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.table-user-transactions {
    border-collapse: collapse;
    border: 2px solid black;
}

td,
th {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

th {
    background-color: var(--main-color-2);
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: var(--main-color-2);
}

.last-row {
    font-weight: 900;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: black;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}


/* MEDIA */

@media only screen and (max-width: 900px) {
    .nav-bank-name {
        visibility: hidden;
    }
    nav {
        font-size: 0.75em;
    }
}

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked~.menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }
    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: white;
    }
}

@media (max-width: 600px) {
    .user-dashboard-title-text {
        font-size: 50px;
    }
    .user-profile-content {
        height: 285px;
        width: 285px;
    }
    .btn-container-income,
    .btn-container-expense {
        width: 100%;
    }
    .income-add,
    .income-delete,
    .income-transactions,
    .expenses-transactions,
    .expense-add,
    .expense-delete {
        padding: 10px;
    }
}